@model HNTAS.Web.UI.Models.RunningAHNViewModel

@{
    ViewData["Title"] = "Check your eligibility to register a heat network";
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @* Added grid column *@

<div class="govuk-width-container">
    <form asp-controller="HeatNetworkEligibility" asp-action="RunningAHN" method="post" novalidate>
        @* Error summary *@
        @if (!ViewData.ModelState.IsValid)
        {
            <div class="govuk-error-summary" role="alert">
                <h2 class="govuk-error-summary__title">There is a problem</h2>
                <ul class="govuk-list govuk-error-summary__list">
                    @foreach (var entry in ViewData.ModelState)
                    {
                        foreach (var error in entry.Value.Errors)
                        {
                            <li id="@entry.Key-error" class="govuk-error-message">
                                <a href="#@entry.Key-error"> @error.ErrorMessage </a>
                            </li>
                        }
                    }
                </ul>
            </div>
        }

            <div class="govuk-form-group @(ViewData.ModelState["IsRunningHeatNetwork"]?.Errors.Count > 0 ? "govuk-form-group--error" : "")">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        @* Changed legend size to l *@
                        <h1 class="govuk-fieldset__heading">
                            @* Changed h1 to govuk-fieldset__heading *@
                            Are you running a heat network?
                        </h1>
                    </legend>
                    @if (ViewData.ModelState["IsRunningHeatNetwork"]?.Errors.Count > 0)
                    {
                        <p id="IsRunningHeatNetwork-error" class="govuk-error-message">
                            @* Added p tag for error message with id *@
                            <span class="govuk-visually-hidden">Error:</span> @* Added visually hidden span *@
                            @ViewData.ModelState["IsRunningHeatNetwork"].Errors[0].ErrorMessage
                        </p>
                    }
                    <div class="govuk-radios" data-module="govuk-radios">
                        @* Added data-module *@
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="runningYes" name="IsRunningHeatNetwork" type="radio" value="true" @(Model.IsRunningHeatNetwork == true ? "checked" : "") />
                            <label class="govuk-label govuk-radios__label" for="runningYes">Yes</label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="runningNo" name="IsRunningHeatNetwork" type="radio" value="false" @(Model.IsRunningHeatNetwork == false ? "checked" : "") />
                            <label class="govuk-label govuk-radios__label" for="runningNo">No</label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <button class="govuk-button" data-module="govuk-button" type="submit">Continue</button> @* Added data-module *@

        </form>
        @if (!string.IsNullOrEmpty(ViewBag.ResultMessage as string))
        {
            <div class="govuk-inset-text">@ViewBag.ResultMessage</div>
        }
    </div>
</div>